@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
    cursor: inherit;
}

html {
    cursor:
        url("/static/hook.png") 49 35,
        crosshair !important;
}

body {
    font-family: "PT Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    /* background-image: url('/static/tile_water.png');
    background-repeat: repeat;
    background-size: 20%;*/
    background-color: #102a43;
}

a, h1, h2, h3, h4, h5, h6, p {
    color: white;
}

.noscroll {
    overflow: hidden;
}

.center {
    text-align: center;
    transform: translateY(calc(50vh - 100%));
}

#topbar {
    height: 10vh;
}

#topbar img {
    height: 10vh;
}
